* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}
.todo-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  margin: 10px;
  box-shadow: 3px 3px 1px black;
  background-color: rgb(233, 231, 231);
  justify-content: center;
  border-radius: 10px;
}

.todo {
  margin: 2px;
  padding: 5px;
  box-shadow: 3px 3px 1px black;
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.todo:hover {
  transform: scale(1.03);
}

.title {
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid gray;
}

.input {
  width: 100%;
  margin: 2px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 3px 3px 1px black;
  text-align: center;
  border-radius: 10px;
}

button {
  width: 30px;
  border: none;
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

.complete {
  background-color: rgb(5, 209, 141);
}
.remove {
  background-color: rgb(255, 75, 75);
}
